* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  background-color: blueviolet;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100svh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* LOGO */
.logo {
  width: 100%;
  max-width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  .logoIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    font-size: 32px;
    font-weight: 700;
  }
  .logoTitle {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
}

.down {
  position: absolute;
  bottom: 20px;
}
